[submodule "Dependencies/TLS-Attacker"]
	path = Dependencies/TLS-Attacker
	url = https://github.com/tls-attacker/TLS-Attacker.git
[submodule "Dependencies/TLS-Scanner"]
	path = Dependencies/TLS-Scanner
	url = https://github.com/tls-attacker/TLS-Scanner.git
[submodule "Dependencies/X.509-Attacker"]
	path = Dependencies/X.509-Attacker
	url = https://github.com/tls-attacker/X509-Attacker.git
[submodule "Dependencies/ASN.1-Tool"]
	path = Dependencies/ASN.1-Tool
	url = https://github.com/tls-attacker/ASN.1-Tool.git
[submodule "Dependencies/ModifiableVariable"]
	path = Dependencies/ModifiableVariable
	url = https://github.com/tls-attacker/ModifiableVariable.git
