[submodule "Dependencies/TLS-Attacker-Development"]
	path = Dependencies/TLS-Attacker-Development
	url = git@github.com:tls-attacker/TLS-Attacker-Development.git
[submodule "Dependencies/TLS-Scanner-Development"]
	path = Dependencies/TLS-Scanner-Development
	url = git@github.com:tls-attacker/TLS-Scanner-Development.git
