
if html
  doctype html
  html
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
      include table.pug
      script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
      script.
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()

          document.addEventListener('cellClicked', (e) => {
            console.log("cellClicked", e.detail)
          })

          document.addEventListener('rowHeadClicked', (e) => {
            console.log("rowHeadClicked", e.detail)
          })

          document.addEventListener('colHeadClicked', (e) => {
            console.log("colHeadClicked", e.detail)
          })
        })
else
  include table.pug


